<div class="login__form">
  <div class="login__wrapper">
    <h2 class="login__form-title">Регистрация</h2>

    <form id="register-form" class="login__fields">
      <div class="login__field">
        <label for="name">Имя</label>
        <div class="login__input-wrapper">
          <input
            type="text"
            id="name"
            name="name"
            placeholder="Введите имя"
            value="{{name}}"
            class="{{#if nameError}}is-error{{else}}{{#if formError}}is-error{{/if}}{{/if}}"
            aria-invalid="{{#if nameError}}true{{else}}{{#if formError}}true{{else}}false{{/if}}{{/if}}"
          />
          {{#if nameError}}
            <p class="login__error-message">{{nameError}}</p>
          {{/if}}
        </div>
      </div>

      <div class="login__field login__email">
        <label for="register-email">Email</label>
        <div class="login__input-wrapper">
          <input
            type="email"
            id="register-email"
            name="email"
            placeholder="Введите email"
            value="{{email}}"
            class="{{#if emailError}}is-error{{else}}{{#if formError}}is-error{{/if}}{{/if}}"
            aria-invalid="{{#if emailError}}true{{else}}{{#if formError}}true{{else}}false{{/if}}{{/if}}"
          />
          {{#if emailError}}
            <p class="login__error-message">{{emailError}}</p>
          {{/if}}
        </div>
      </div>

      <div class="login__field login__password">
        <label for="register-password">Пароль</label>
        <div class="login__input-wrapper">
          <input
            type="password"
            id="register-password"
            name="password"
            placeholder="Введите пароль"
            class="{{#if passwordError}}is-error{{else}}{{#if formError}}is-error{{/if}}{{/if}}"
            aria-invalid="{{#if passwordError}}true{{else}}{{#if formError}}true{{else}}false{{/if}}{{/if}}"
          />
          <button class="login__password-toggle" type="button" aria-label="Показать пароль">
            <img src="/public/static/assets/eye.svg" alt="" />
          </button>
          {{#if passwordError}}
            <p class="login__error-message">{{passwordError}}</p>
          {{/if}}
        </div>
      </div>

      <div class="login__field login__password">
        <label for="register-password-repeat">Повторите пароль</label>
        <div class="login__input-wrapper">
          <input
            type="password"
            id="register-password-repeat"
            name="passwordRepeat"
            placeholder="Повторите пароль"
            class="{{#if passwordRepeatError}}is-error{{else}}{{#if formError}}is-error{{/if}}{{/if}}"
            aria-invalid="{{#if passwordRepeatError}}true{{else}}{{#if formError}}true{{else}}false{{/if}}{{/if}}"
          />
          <button class="login__password-toggle" type="button" aria-label="Показать пароль">
            <img src="/public/static/assets/eye.svg" alt="" />
          </button>
          {{#if passwordRepeatError}}
            <p class="login__error-message">{{passwordRepeatError}}</p>
          {{/if}}
        </div>
      </div>

      <button class="login__submit" type="submit">Зарегистрироваться</button>

      {{#if formError}}
        <p class="login__error-message login__error-message--form">{{formError}}</p>
      {{/if}}

      <div class="login__secondary-action">
        <a href="/login" class="login__register">Уже есть аккаунт?</a>
      </div>
    </form>
  </div>
</div>
