<div class="event-page">
  <header class="event-page__header">
    {{> header}}
  </header>

  <main class="event-page__main">
    {{{eventHero}}}
    {{{eventDescription}}}
    {{{eventGallery}}}
    {{{eventLocation}}}
    {{{eventRecommendations}}}
  </main>
</div>
